body {
    font-family: 'Segoe UI', sans-serif;
    width: 100%;
    overflow: hidden;
}

span {
    font-style: italic;
}

canvas {
    width : 90%;
    height: 90%;
}

#gameboard {
    float: left;
}

#polyominoboard {
    float: right;
}